.background{
    background: #89609E;
    background-size: cover;
    position: relative;
    height: 100vh;
}

.brand{
    display: inline-block;
    background-size: contain;
    height: 62px;
    width: 198px;
    vertical-align: middle;
    margin-top: 10%;
    margin-bottom: 2%;
}

.inputSI{
    border-radius: 3px;
    box-shadow: none;
    line-height: 1.2em;
    font-size: 1.1em;
    border: 0px none;
    padding: 1.5em;
    font-size: 1.2em;
    margin: 0 auto;
    width: 80%;
}

.btnSubmit{
    transition: all 0.15s ease-out 0s;
    background: transparent;
    color: #fff;
    border: 1px solid #fff;
    width: 80%;
    padding: 1em;
    font-size: 1.1em;
    font-weight: 600; 
    display: inline-block;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.btnSubmit:hover{
    color: #89609E;
    background-color: #fff;
}

.instruccions{
    color: #ffffff;
    font-weight: 500;
    padding: 0.2em;
    font-style: italic;
}

.text {
    color: white;
    font-weight: 600;
    padding-bottom: 2vh;
}