.Board-container {
    flex-direction: row;
    width: 100%;
    height: 100%;
    margin: 0;
    background: #89609E;
    background-size: cover;
    position: relative;
    height: 100vh;
  }
  
  .Board-column {
    display: flex;
    width: 100%;
    max-width: 200px;
    padding: 0 10px 0px 10px;
    top: 80px;
    position: absolute;
  }
  
  .Board-column > .Create-container {
    margin-top: 30px;
    height: 100%;
  }

  .new
  {
    background-color: #745286;  
    color: #bdc3c7;
    margin: 10px 0;  
  }
  .new:hover
  {
    background-color: #6E4D7F;
    color: #bdc3c7;  
  }
  
  .btnSubmitDesk {
      background-color: #745286;  
      color: #bdc3c7;
      margin: 0 10%;  
      width: 80%;
      padding : 8px;
  }

  
.inputSI{
  border-radius: 3px;
  box-shadow: none;
  line-height: 1.2em;
  font-size: 1.1em;
  border: 0px none;
  padding: 1.5em;
  font-size: 1.2em;
  margin: 0 auto;
  width: 80%;
}