.desk {
        background: #89609E;
        background-size: cover;
        position: relative;
        height: 100vh;
}

.new
{
  background-color: #745286;  
  color: #bdc3c7;
  margin: 10px 0;  
}
.new:hover
{
  background-color: #6E4D7F;
  color: #bdc3c7;  
}

.btnSubmitDesk {
    background-color: #745286;  
    color: #bdc3c7;
    margin: 0 10%;  
    width: 80%;
    padding : 8px;
}

.board {
  background: rgba(222, 225, 227, 0.9);
  border-radius: 3px;
  margin: 0 0.5em 1em 0.5em;
  line-height: 1.75em;
  overflow: hidden;
  padding: 0.75em;
  min-height: 5em;
  animation-duration: .3s;
  animation-name: fadeIn;
  width: 200px;
  display: flex;
  float: left;
}

.allBoards {
  display: flex;
  box-lines: multiple;
  flex-wrap: wrap;
  flex-flow: row wrap;
  margin: 0 -0.5em 1em -0.5em;
}